@charset "utf-8";
@namespace epub "http://www.idpf.org/2007/ops";
@namespace xml "http://www.w3.org/XML/1998/namespace";

@font-face{
	font-family: "Standard Blackletter";
	font-weight: 700;
	src: url("../fonts/standard-blackletter.otf") format("opentype");
}

abbr[epub|type~="se:era"]{
	font-variant: all-small-caps;
}

blockquote[xml|lang],
dfn{
	font-style: italic;
}

header{
	font-variant: small-caps;
	margin: 1em;
	text-align: center;
}

footer{
	margin-top: 1em;
	text-align: right;
}

[epub|type~="z3998:salutation"] + p,
[epub|type~="z3998:letter"] header + p{
	text-indent: 0;
}

/* All epigraphs */
[epub|type~="epigraph"]{
	font-style: italic;
	hyphens: none;
	-epub-hyphens: none;
}

[epub|type~="epigraph"] em,
[epub|type~="epigraph"] i{
	font-style: normal;
}

[epub|type~="epigraph"] cite{
	font-style: normal;
	font-variant: small-caps;
	margin-top: 1em;
}

[epub|type~="epigraph"] cite i{
	font-style: italic;
}
/* End all epigraphs */

/* Full-page epigraphs */
section[epub|type~="epigraph"]{
	text-align: center;
}

section[epub|type~="epigraph"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
	text-align: initial;
}

@supports(display: flex){
	section[epub|type~="epigraph"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="epigraph"] > *{
		margin: 0;
	}

	section[epub|type~="epigraph"] > * + *{
		margin-top: 3em;
	}
}
/* End full-page epigraphs */

/* Centered dedications */
section[epub|type~="dedication"]{
	text-align: center;
}

section[epub|type~="dedication"] > *{
	display: inline-block;
	margin: auto;
	margin-top: 3em;
	max-width: 80%;
}

@supports(display: flex){
	section[epub|type~="dedication"]{
		align-items: center;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-height: calc(98vh - 3em);
		padding-top: 3em;
	}

	section[epub|type~="dedication"] > *{
		margin: 0;
	}
}
/* End centered dedications */

[epub|type~="z3998:signature"]{
	font-variant: small-caps;
}

[epub|type~="z3998:song"] p,
[epub|type~="z3998:verse"] p{
	text-align: initial;
	text-indent: 0;
}

[epub|type~="z3998:song"] p > span,
[epub|type~="z3998:verse"] p > span{
	display: block;
	padding-left: 1em;
	text-indent: -1em;
}

[epub|type~="z3998:song"] p > span + br,
[epub|type~="z3998:verse"] p > span + br{
	display: none;
}

[epub|type~="z3998:song"] p + p,
[epub|type~="z3998:verse"] p + p{
	margin-top: 1em;
}

p span.i1{
	padding-left: 2em;
	text-indent: -1em;
}

p span.i2{
	padding-left: 3em;
	text-indent: -1em;
}

p span.i3{
	padding-left: 4em;
	text-indent: -1em;
}

p span.i5{
	padding-left: 6em;
	text-indent: -1em;
}

.couplets > p{
	display: table;
}

.couplets > p > span{
	display: table-row;
}

.couplets > p > span > span{
	display: table-cell;
	text-indent: 0;
}

.couplets > p > span > span + span{
	padding-left: 1ch;
}

/* Custom CSS for specific sections */
.night-announcement{
	display: block;
	margin: 0.75em 0;
	text-indent: 0;
	text-align: center;
	font-family: "Standard Blackletter", serif;
	font-size: 1.25em;
}


section[epub|type~="epigraph"] > blockquote:first-child > p:first-child{
	font-size: 2em;
	font-style: normal;
	margin-bottom: 1em;
	text-align: center;
}

.dedication-epitaph > *{
	border: .5em solid;
	font-variant: all-small-caps;
	padding: 5em 3em 4em;
}

.dedication-epitaph b{
	display: block;
	font-family: "Standard Blackletter", serif;
	font-size: 1.5em;
	font-variant: normal;
	font-weight: 700;
	margin-bottom: .25em;
}

.dedication-epitaph b:first-child,
.dedication-epitaph span{
	display: block;
	margin-bottom: 1em;
}

.dedication-epitaph br{
	display: none;
}

section[epub|type*="dedication z3998:letter"]{
	text-align: initial;
}

[epub|type*="dedication z3998:letter"] > header{
	margin-bottom: 1em;
}

[epub|type*="dedication z3998:letter"] span[epub|type~="z3998:recipient"]{
	text-transform: uppercase;
}

[epub|type*="dedication z3998:letter"] > header em{
	font-variant: normal;
}

[epub|type*="dedication z3998:letter"] [epub|type~="z3998:salutation"]{
	font-variant: small-caps;
}

[epub|type*="dedication z3998:letter"] > footer{
	margin-top: 1em;
}

[epub|type*="dedication z3998:letter"] [epub|type~="z3998:valediction"]{
	margin-right: 2em;
}

[epub|type*="dedication z3998:letter"] [epub|type~="se:letter.dateline"]{
	float: left;
	margin: 1em 0 0 1em;
	text-align: center;
	text-indent: 0;
}

[epub|type*="dedication z3998:letter"] time{
	font-style: italic;
}

@supports(display: flex){
	[epub|type*="dedication z3998:letter"] > p,
	[epub|type*="dedication z3998:letter"] > footer{
		align-self: stretch;
		margin-left: 10%;
	}
}

#dedication-3 span:nth-of-type(2){
	font-size: 1.25em;
}

#dedication-3 b:last-child{
	font-size: 1em;
}

#dedication-6 span,
#dedication-7 span,
#dedication-13 span,
#dedication-16 span{
	display: block;
	font-variant: small-caps;
}

#dedication-6 br,
#dedication-7 br,
#dedication-13 br,
#dedication-16 br{
	display: none;
}

#dedication-6 span:first-of-type,
#dedication-7 span:first-of-type,
#dedication-13 span:first-of-type{
	font-size: 1.25em;
	margin-bottom: 1em;
	text-transform: uppercase;
}

#dedication-13 span:nth-of-type(2){
	margin-bottom: 1em;
}

#dedication-6 span:nth-of-type(4),
#dedication-7 span:nth-of-type(4){
	font-size: 1.25em;
	margin-top: 1em;
	text-transform: uppercase;
}

#dedication-6 span:nth-of-type(5),
#dedication-7 span:nth-of-type(2),
#dedication-7 span:nth-of-type(5){
	font-size: 0.8em;
	margin-bottom: 1em;
}

#dedication-16 span{
	margin: 1em 0;
}

#dedication-16 span:nth-of-type(3){
	font-size: 1.125em;
	text-transform: uppercase;
}

#dedication-16 span:last-child{
	font-family: "Standard Blackletter", serif;
	font-variant: normal;
	font-size: 1.25em;
}

#dedication-6 > footer,
#dedication-7 > footer,
#dedication-13 > footer{
	margin-top: 1em;
	text-align: right;
}

@supports(display: flex){
	#dedication-6 > footer,
	#dedication-7 > footer,
	#dedication-13 > footer{
		align-self: stretch;
		margin-left: 10%;
	}
}

#dedication-8 > *{
	font-variant: normal;
}

#dedication-8 b:first-of-type{
	margin: .5em 0;
}

#prologue-1 > h2{
	font-family: "Standard Blackletter", serif;
	font-variant: normal;
}

#prologue-1 > p{
	font-variant: small-caps;
}

#foreword-11 > blockquote{
	font-size: 1.25em;
	line-height: 1.5;
	text-align: center;
}

#foreword-11 > blockquote span:nth-of-type(2){
	font-size: 0.8em;
}

#foreword-13 > blockquote:first-of-type{
	text-align: center;
}

#foreword-13 > blockquote:nth-of-type(3) span{
	display: inline-block;
	text-align: center;
}

#foreword-13 > blockquote:nth-of-type(3) span:nth-of-type(odd){
	width: 2.9em;
}

#foreword-13 > blockquote:nth-of-type(3) span:nth-of-type(even){
	width: 1em;
}

#foreword-14 > blockquote:first-of-type > p{
	font-variant: all-small-caps;
	line-height: 1.5;
	text-align: center;
	text-indent: 0;
}

#foreword-14 > blockquote:first-of-type > p:first-child > span:first-of-type,
#foreword-14 > blockquote:first-of-type > p:first-child > span:nth-of-type(4){
	font-size: 1.5em;
}

#foreword-14 > blockquote:first-of-type > p:first-child > span:nth-of-type(3){
	font-size: 0.8em;
}

#foreword-14 > blockquote:first-of-type > p:first-child > span:nth-of-type(5){
	font-variant: small-caps;
	margin-bottom: 0;
}

#foreword-14 > blockquote:first-of-type > p:last-child > span:first-of-type{
	font-variant: normal;
}

#foreword-14 > blockquote:first-of-type > p:last-child > span:last-of-type{
	font-variant: small-caps;
}

#foreword-14 > blockquote:first-of-type b{
	text-transform: uppercase;
}

#foreword-15 > blockquote:nth-of-type(2){
	font-variant: all-small-caps;
	line-height: 1.5;
	text-align: center;
}

#foreword-15 > blockquote:nth-of-type(2) span:first-of-type,
#foreword-15 > blockquote:nth-of-type(2) span:nth-of-type(6),
#foreword-15 > blockquote:nth-of-type(2) span:nth-of-type(10){
	font-size: 1.5em;
}

#foreword-15 > blockquote:nth-of-type(2) span:nth-of-type(3),
#foreword-15 > blockquote:nth-of-type(2) span:nth-of-type(7){
	font-variant: normal;
}

#foreword-15 > blockquote:nth-of-type(2) span:nth-of-type(4),
#foreword-15 > blockquote:nth-of-type(2) span:nth-of-type(8){
	font-family: "Standard Blackletter", serif;
	font-variant: normal;
}

#foreword-15 > blockquote:nth-of-type(2) span:nth-of-type(5),
#foreword-15 > blockquote:nth-of-type(2) span:nth-of-type(9),
#foreword-15 > blockquote:nth-of-type(2) span:nth-of-type(11){
	font-size: 0.8em;
}

#foreword-16 > blockquote:nth-of-type(3) > p{
	display: table;
	text-align: center;
	width: 100%;
}

#foreword-16 > blockquote:nth-of-type(3) > p > span{
	display: table-cell;
	width: 33.3%;
}

#foreword-16 table{
	margin: 1em 2.5em;
}

#foreword-16 table > tr + tr > td:last-child{
	padding-left: 1.5em;
}

#foreword-16 > blockquote:last-of-type{
	line-height: 1.5;
	text-align: center;
}

#foreword-16 > blockquote:last-of-type span:nth-of-type(2){
	font-variant: small-caps;
}
